<div id="<%= dom_id hose %>">
  <p>
    <strong>User:</strong>
    <%= hose.user_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= hose.price %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= hose.size %>
  </p>

</div>
