<p style="color: green"><%= notice %></p>

<h1>Hoses</h1>

<div id="hoses">
  <% @hoses.each do |hose| %>
    <%= render hose %>
    <p>
      <%= link_to "Show this hose", hose %>
    </p>
  <% end %>
</div>

<%= link_to "New hose", new_hose_path %>
